/* ============= FONT FAMILIES ============= */

/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');

/* Raleway */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600;700&display=swap');

/* Carter */
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

/* ============= BASE ============= */

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    line-height: 1.5rem;
}

:root {
    /* ============= COLORS ============= */
    --bs-body-bg : 	#F5FFFA; /* Snow White */
    --primary-dark :  rgb(33,37,41); 
    --primary-light:  #e7e2df;
    --gold: #ffd700;
    --pure-white : #ffffff;

    /* text colors */
    --title-text-clr: #303030;
    --normal-text-clr: #505050;
    --light-text-clr : #707070;
    
    /* ============= LINEAR GRADIENTS ============= */
    --bg-img-darken : linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4));
    --gradient-menu-title-main: -webkit-linear-gradient(92deg, #f35626, #feab3a);
    --scrollbar-anchor-hover: linear-gradient(111.3deg, #9c27b0 9.6%, #00bcd4 93.6%);
    --menu-sr: linear-gradient(to right, #434343, #000000);

    /* ============= BORDER RADIUS ============= */
    --br-20 : 20px ;
    --br-2-5 : 2.5px;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== BACKGROUND POSITIONING ==========*/
    --bg-no-repeat : no-repeat;
    --bg-center-xy : center center;
    --bg-size-cover : cover;

    /*========== FONT SIZE ==========*/
    --big-font-size: 1.625rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.15rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
}

/* Responsive topology */
@media (max-width: 575.98px) { 
:root {
    /*========== FONT SIZE ==========*/
    --big-font-size: 1.125rem;
    --h1-font-size: 1rem;
    --h2-font-size: 1rem;
    --h3-font-size: 0.75rem;
    --normal-font-size: .8rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
}
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins','Roboto',sans-serif;
    background-color: var(--bs-body-bg);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
    transition: 0.4s;
    color: var(--primary-font-clr);
}

/* Preloader */
#preloader {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 1000;
    top: 0%;
    left: 0%;
    display: grid;
    place-items: center;
    transition: all 0.3s;
}

.preloader {
    background: #fffafc;
}

.menu-preloader {
    background: #ffffff;
}

#preloader > img {
    max-width: 450px;
    vertical-align: center;
}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0%;
    padding: 0%;
}

.main-content {
    background-color : inherit;
    max-width: calc(100% - 80px);
}

/* FOR SCROLLBAR */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--pure-white);
    border: var(--br-20);
}

::-webkit-scrollbar-thumb {
    background-image: var(--scrollbar-anchor-hover);
    border-radius: var(--br-20);
}

/* ============= TEXT ANIMATION ============= */
.text-animation {
    background-size: 400%;
    -webkit-animation: bg-animation 5s infinite alternate;
    animation: bg-animation 10s infinite linear;
	-webkit-background-clip: text;
    background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* background color changeing */
@keyframes bg-animation {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(-360deg);
    }
}

/* tracking in expand forward */

.tracking-in-expand-fwd{-webkit-animation:tracking-in-expand-fwd .8s cubic-bezier(.215,.61,.355,1.000) 0.8s both;animation:tracking-in-expand-fwd .8s cubic-bezier(.215,.61,.355,1.000) 0.8s both}
@-webkit-keyframes tracking-in-expand-fwd{0%{letter-spacing:-.5em;-webkit-transform:translateZ(-700px);transform:translateZ(-700px);opacity:0}40%{opacity:.6}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}@keyframes tracking-in-expand-fwd{0%{letter-spacing:-.5em;-webkit-transform:translateZ(-700px);transform:translateZ(-700px);opacity:0}40%{opacity:.6}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}

/* ============= NAVIGAITON BAR ============= */
#navbar {
    background-color: var(--primary-dark);
}

#logo-img {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid var(--primary-light);
    padding: 2px;
}

.navbar-brand{
    margin-inline-start: 0.625rem;
    color: var(--pure-white);
}

.navbar-toggler {
    border: none;
}

.offcanvas-title {
    font-weight: var(--font-medium);
    font-size: var(--normal-font-size);
    color:var(--pure-white);
}

#nav-ul {
    margin-left: auto;
    column-gap: 0.625rem;
}

#nav-anchor-1,
#nav-anchor-2,
#nav-anchor-3 {
    position: relative;
    column-gap: 0.188rem;
}

#nav-anchor-1::after,
#nav-anchor-2::after,
#nav-anchor-3::after {
    content:"";
    display: block;
    position: absolute;
    height: 0.2rem;
    bottom: 0%;
    width: 0%;
    left: 9px;
    border-radius: 5px;
    background: var(--scrollbar-anchor-hover);
    transition: width 0.55s ease-in-out;
}

#nav-list-1:hover #nav-anchor-1::after,
#nav-list-2:hover #nav-anchor-2::after,
#nav-list-3:hover #nav-anchor-3::after {
    width: 85%; 
}

/* For Menu Title main */
.menu-title-main {
    margin-top: 0.625rem;
    width: 220px;
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    background-color:var(--primary-dark);
    padding: 3px 0px;
    border-radius: var(--br-20);
    text-transform: capitalize;
}

.menu-title-main span {
background-image: var(--gradient-menu-title-main);
}

/* Thumbnail img */
.thumbnail {
    position: relative;
    overflow: hidden;
    height: 270px;
}

.thumbnail-txt {
    position: absolute;
    top: 50%;
    vertical-align: middle;
}

.thumbnail-inner-glass {
    transform: translate(15px, 15px);
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    vertical-align: center;
    border: 2px solid var(--gold);
    border-radius: inherit;
}

/* ============= HOME PAGE ============= */

/* CAROUSEL */
.carousel-control-prev-icon ,.carousel-control-next-icon {
    height: 40px;
    width: 40px;
}

.dark-filter {
    background-color: #00000073;
}

/* hero text */
.hero-title{
    font-size: var(--h1-font-size);
    font-weight: var(--font-medium);
    word-spacing: 0.125rem;
    line-height: 2.5rem;
    color: #7F0909;
}

.hero-description {
    font-size: var(--normal-font-size);
    color: var(--normal-text-clr);
    line-height: 3rem;
    text-align: justify;
}

.menu-heading {
    font-size: var(--big-font-size);
    color: var(--gold);
    font-weight: var(--font-semi-bold);
    text-shadow: 1px 1px 2px hsla(0, 0%, 13%, 0.795);
    letter-spacing: 3px;
    word-spacing: 4px;
}

/* special items menu */
.special-item-container {
    width: 300px;
}

.special-item-circle {
    width: 250px;
    height: 220px;
    background-color: #5151513c;
    border-radius: 50%;
    top: -0.5rem;
    left: -0.8rem;
    z-index: 1;
}

.special-item-img {
    /* position relative is set just to display bg circle */
    justify-self: center;
    vertical-align: center;
    transition: all 0.5s;
    z-index: 2;
}

.special-item-title {
    position: relative;
    color: var(--title-text-clr);
    margin-top: 0.625rem;
    font-weight: var(--font-semi-bold);
    font-size: var(--normal-font-size);
    padding: 0.3rem 0.3rem;
    background-color: hsla(51, 100%, 50%, 0.18);
    border-radius: var(--br-2-5);
}

#specical-title-m1::after , #specical-title-m2::after , #specical-title-m3::after {
    content:"";
    display: block;
    position: absolute;
    height: 0.2rem;
    bottom: 0%;
    left: 0%;
    background-color: var(--gold);
    width: 0%;
    transition: width 700ms ease-in-out;
}

.special-item-price {
    padding-left: 0.3rem;
    font-weight: var(--font-medium);
    color: var(--normal-text-clr);
}

.special-item-price span {
    width: 50px;
}

#sp-container-m1:hover  #specical-img-m1, #sp-container-m2:hover  #specical-img-m2, #sp-container-m3:hover  #specical-img-m3 {
    transform: translateY(-.5rem);
    cursor: pointer;
}

#sp-container-m1:hover #specical-title-m1::after, #sp-container-m2:hover #specical-title-m2::after,#sp-container-m3:hover #specical-title-m3::after {
    width: 100%;
}

/* for shaky text */
@-webkit-keyframes shake-bottom{0%,100%{-webkit-transform:rotate(0deg);transform:rotate(0deg);-webkit-transform-origin:50% 100%;transform-origin:50% 100%}10%{-webkit-transform:rotate(2deg);transform:rotate(2deg)}20%,40%,60%{-webkit-transform:rotate(-4deg);transform:rotate(-4deg)}30%,50%,70%{-webkit-transform:rotate(4deg);transform:rotate(4deg)}80%{-webkit-transform:rotate(-2deg);transform:rotate(-2deg)}90%{-webkit-transform:rotate(2deg);transform:rotate(2deg)}}@keyframes shake-bottom{0%,100%{-webkit-transform:rotate(0deg);transform:rotate(0deg);-webkit-transform-origin:50% 100%;transform-origin:50% 100%}10%{-webkit-transform:rotate(2deg);transform:rotate(2deg)}20%,40%,60%{-webkit-transform:rotate(-4deg);transform:rotate(-4deg)}30%,50%,70%{-webkit-transform:rotate(4deg);transform:rotate(4deg)}80%{-webkit-transform:rotate(-2deg);transform:rotate(-2deg)}90%{-webkit-transform:rotate(2deg);transform:rotate(2deg)}}

#sp-container-m1:hover #sp-price-sheky-m1, #sp-container-m2:hover #sp-price-sheky-m2,#sp-container-m3:hover #sp-price-sheky-m3 {
    /* for shaky text */
    -webkit-animation:shake-bottom .8s cubic-bezier(.455,.03,.515,.955) infinite both;animation:shake-bottom .8s cubic-bezier(.455,.03,.515,.955) infinite both;
}

#catering-thumbnail {
    background: var(--bg-img-darken),url(/images/HomePage/thumbnail/catering-thumbnail.jpg);
    background-repeat: var(--bg-no-repeat);
    background-position: center 78%;
    background-size: var(--bg-size-cover);
    border-radius: var(--br-2-5);
}

.thumbnail-inner-glass .thumbnail-txt {
    top: 35%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    color: var(--pure-white);
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.875rem;
    letter-spacing: 0.2rem;
    word-spacing: 0.313rem;
}

.view-more-btn {
    padding: 0.3rem 1.3rem;
    border: 2px solid var(--gold);
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    transition: all 0.3s;
    z-index: 1;
    color: var(--pure-white);
    font-weight: var(--font-medium);
}

.view-more-btn::before {
    content: '';
    width: 0;
    height: 400%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #000000cf;
    transition: .5s ease;
    display: block;
    z-index: -1;
}
    
.view-more-btn:hover::before {
    width: 200%;
}

#reviews-heading {
    color: #ffffff;
    text-shadow: none;
}
/* ============= MENU ITEM CARDS ============= */
.menu-pics-card {
    position: relative;
    display: block;
    width: 380px;
    height: 250px;
    overflow: hidden;
    color: var(--pure-white);
    border-radius: var(--br-2-5);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    background-color: inherit;
}

.menu-pics-card a img {
    height: 220px;
}

.menu-pics-card .title {
    position: absolute;
    display: block;
    width: 100%;
    height: 30px;
    bottom: 0px;
    left: 0px;
    padding: 0.2rem;
    background: var(--menu-sr);
    font-weight: 700;
    font-size: var(--normal-font-size);
}

.menu-pics-card:hover {
    color: var(--gold);
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    transform: scale(1.05);
}

.menu-pics-card:hover .title {
    background: #000000;
}

/* ============= MENU CATEGORY MAIN PAGE ============= */
#menu-thumbnail {
    background: var(--bg-img-darken), url(/images/menu-category-main/menu_thumbnail.jpg);
    background-repeat: var(--bg-no-repeat);
    background-position: var(--bg-center-xy);
    background-size: var(--bg-size-cover);
    color: var(--pure-white);
    text-shadow: 2px 2px 3px black;
    font-weight: 300;
    font-size: 3rem;
    font-family: 'Carter One', cursive;
    letter-spacing: 0.05em;
}

/* menu image card fade in top animation */
.fade-in-top{-webkit-animation:fade-in-top 1s cubic-bezier(.39,.575,.565,1.000) .5s both;animation:fade-in-top 1s cubic-bezier(.39,.575,.565,1.000) .5s both}
@-webkit-keyframes fade-in-top{0%{-webkit-transform:translateY(-50px);transform:translateY(-50px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes fade-in-top{0%{-webkit-transform:translateY(-50px);transform:translateY(-50px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}

/* ============= MENU ITEMS PAGE ============= */
.page-inner-nav {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
    color: var(--title-text-clr);
    transition: all 0.3s;
    font-size: var(--normal-font-size)
}

.inner-nav-active , .inner-nav-active:hover{
    color: #f76e6e !important
}

.page-inner-nav div > a.nav-link:hover {
    color:  rgb(117, 117, 117)
}

#item-title-sub {
    color: var(--title-text-clr);
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
}

#item-title-sub span {
    color: var(--normal-text-clr);
    font-size: var(--normal-font-size);
    font-weight: 600;
}

.menu-item-display {
    position: relative;
    margin-bottom: 20px;
    max-width: 250px;
}

.shadow-drop-lr{-webkit-animation:shadow-drop-lr .4s cubic-bezier(.25,.46,.45,.94) both;animation:shadow-drop-lr .4s cubic-bezier(.25,.46,.45,.94) both}
@-webkit-keyframes shadow-drop-lr{0%{-webkit-box-shadow:0 0 0 0 transparent,0 0 0 0 transparent;box-shadow:0 0 0 0 transparent,0 0 0 0 transparent}100%{-webkit-box-shadow:-12px 0 20px -12px rgba(0,0,0,.35),12px 0 20px -12px rgba(0,0,0,.35);box-shadow:-12px 0 20px -12px rgba(0,0,0,.35),12px 0 20px -12px rgba(0,0,0,.35)}}@keyframes shadow-drop-lr{0%{-webkit-box-shadow:0 0 0 0 transparent,0 0 0 0 transparent;box-shadow:0 0 0 0 transparent,0 0 0 0 transparent}100%{-webkit-box-shadow:-12px 0 20px -12px rgba(0,0,0,.35),12px 0 20px -12px rgba(0,0,0,.35);box-shadow:-12px 0 20px -12px rgba(0,0,0,.35),12px 0 20px -12px rgba(0,0,0,.35)}}

.menu-item-img {
    display: block;
    border-top-left-radius: var(--br-2-5);
    border-top-right-radius: var(--br-2-5);
    max-width: 250px;
    box-shadow: 0px 1px 3px #000000;
}

.menu-item-price {
    background-color: #def2f1;
    border-bottom-left-radius: var(--br-2-5);
    border-bottom-right-radius: var(--br-2-5);
    height: 25px;
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--title-text-clr);
}

.menu-item-sm-hr {
    display: none;
}

.menu-items-discription {
    font-size: var(--normal-font-size);
    padding: 0.313rem;
    margin-left: 5px;
}

.menu-items-dis-title {
    color: var(--title-text-clr);
    font-size: var(--h2-font-size);
    font-weight: var(--font-medium);
    text-decoration: underline;
}

.menu-item-dis-sub {
    font-size: var(--normal-font-size);
    color: var(--normal-text-clr);
}

/* ============= FOOTER ============= */
.panel-footer {
    background-color:var(--primary-dark)!important;
    color: var(--gold);
    padding-top: 2.188rem;
    word-spacing: 0.125rem;
}

.footer {
    line-height: 1.5rem;
}

.footer-title {
    color: #d1d1d1;
    font-size: var(--h2-font-size);
    margin-bottom: 20px;
}

section span.footer-sub {
    font-size: var(--small-font-size) !important;
}

.row section hr{
    display: none;
}

#delivery {
    font-size: 0.7rem;
    color: #bababa;
    margin-top: 5px;
}

#footer-cards-ul {
    display: inline-flex;
    justify-items: center;
    flex-direction: row;
    column-gap: 5px;
    margin-top: 1.5rem;
}

.footer-cards-img {
    width: 40px;
    align-self:center;
}

#phone-num a {
    color: inherit;
}

#wa-num a {
    width: 200px;
    font-size: var(--h2-font-size);
}

#footer-social-ul {
    display: inline-flex;
    font-size: var(--h2-font-size);
    column-gap: 30px;
    align-items: center;
    justify-items: center;
}

.footer-social-li {
    transition: all .3s;
}

#footer-social-ul li a {
    color: var(--gold);
}

#footer-social-ul li:hover {
    transform: translateY(-0.5rem);
}

.footer a:hover , #phone-num:hover , #wa-num a:hover {
    color:var(--pure-white) !important;
}

#copyright {
    padding: 0.313rem 0;
    background-color: var(--primary-dark);
    color: var(--pure-white);
    border-top: 1px solid var(--pure-white);
    font-size: var(--smaller-font-size);
}

/* ============= MEDIA QUERIES ============= */

/* `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
    /* ============= MENU ITEM CARDS ============= */
    .menu-pics-card {
        width: 320px;
        height: 210px;
    }
    
    .menu-pics-card a img {
        height: 180px;
    }
}

/* `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    /* ============= MENU ITEM CARDS ============= */
    .menu-pics-card {
        width: 320px;
        height: 200px;
    }

    .menu-pics-card a img {
        height: 170px;
    }

    /* ============= HOME PAGE ============= */
    .thumbnail-inner-glass .thumbnail-txt {
        top: 35%;
        font-size: 1.563rem;
    }
}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    /* ============= BASE ============= */
    .main-content {
        max-width: calc(100% - 40px);
    }

    /* ============= HOME PAGE ============= */
    .special-item-container {
        width: 240px;
    }

    .special-item-circle {
        width: 200px;
        height: 178px;
        left: -.2rem;
    }

    .thumbnail-inner-glass .thumbnail-txt {
        top: 35%;
        font-size: 1.25rem;
    }
}

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
     /* ============= NAVIGATION BAR ============= */
    .offcanvas {
        width: 80% !important;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        border-color: var(--primary-dark) !important;
    }

    #offcanvas-title {
        border-bottom: 1px solid var(--pure-white);
        border-top-left-radius: inherit;
    }

    #offcanvas-close-btn {
        border: none;
        color: var(--pure-white);
        font-weight: 300;
        width: 23px;
        text-align: start;
    }

    #nav-ul > li > a {
        color: var(--pure-white);
        padding: 0.2rem 0.5rem;
        border-radius: var(--br-20);
        border: 2px solid transparent;
        font-weight: var(--font-medium);
    }
    
    #nav-ul > li > a.active {
        background-color: rgba(0, 0, 0, 0.5);
        border: 2px solid var(--gold);
    }

    #nav-anchor-1::after,
    #nav-anchor-2::after,
    #nav-anchor-3::after {
        display: none;
    }

    .offcanvas-body {
        position: relative;
        border-bottom-left-radius: inherit;
    }

    .navbar-navigation {
        position: absolute;
        align-items: center;
        row-gap: 25px;
        left: 35%;
        top: 24.5%;
    }

    #nav-ul > li > a:hover {
        background-color: rgba(0, 0, 0, 0.5);
        border: 2px solid var(--primary-light);
    }

    /* ============= HOME PAGE ============= */
    .view-more-btn {
        padding: 0.2rem 1.3rem;
        font-size: 0.813rem;
    }
    
    .thumbnail-inner-glass .thumbnail-txt {
        top: 35%;
        font-size: 1rem;
    }

    /* for menu thumbnail image */
    .thumbnail {
        height: 220px;
    }

    #menu-thumbnail {
        font-size: 2.5rem;
    }

    /* ============= MENU ITEM CARDS ============= */
    .menu-pics-card .title {
        padding: 0.3rem;
    }

    /* ============= MENU ITEMS PAGE ============= */
    .menu-item-display {
        width: 70%;
        margin: 0px auto;
    }

    .menu-item-text {
        margin-top: 10px;
    }

    .menu-items-discription-title {
        margin-top: 15px;
    }

    .menu-item-sm-hr {
        display: block;
        width: 70%;
        max-height: 0.5rem;
        background-color: #000000;
        margin: 0.625rem auto 1.25rem;
    }

    /* ============= FOOTER ============= */
    .row section hr{
        display: block;
        height: 2px;
        background-color: var(--pure-white);
    }
}

/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    /* ============= BASE ============= */
    .main-content  {
        max-width: 100%;
    }

    .menu-title-main {
        width: 165px
    }

    /* ============= NAVIGATION BAR ============= */
    .navbar-brand {
        font-size: 0.85rem;
    }

    #offcanvas-close-btn {
        width: initial;
    }

    /* for Menu Thumbnail img */
    #menu-thumbnail {
        font-size: 1.8rem;
    }
    .thumbnail {
        height: 180px;
    }

    /* ============= HOME PAGE ============= */
    #carousel-nav {
        display: none;
    }
    
    .dark-filter {
        background-color: rgba(0, 0, 0, 0.3);
    }

    .hero-title{
        word-spacing: 0.1rem;
        line-height: 1.5rem;
    }

    .hero-description {
        line-height: 2.5rem;
    }

    .thumbnail-inner-glass {
        width: 100%;
        height: 100%;
        border: none;
        transform: none;
    }
    
    .thumbnail-inner-glass .thumbnail-txt {
        top: 30%;
        padding-left: 3px;
        padding-right: 3px;
        font-size: 0.8rem;
        letter-spacing: 0.1rem;
        word-spacing: 0.2rem;
    }

    .view-more-btn {
        padding: .15rem .9rem;
        border: 1px solid var(--gold);
        font-weight: normal;
        font-size: 0.75rem;
    }

    /* ============= MENU ITEM CARDS ============= */
    .menu-pics-card {
        width: 280px;
        height: 190px;
    }

    .menu-pics-card a img {
        height: 160px;
    }

    .menu-pics-card .title {
        padding: 0.2rem 0rem;
    }

    /* ============= MENU ITEMS PAGE ============= */
    .menu-item-price {
        height: 25px;
    }

    /* ============= FOOTER ============= */
    #footer-social-ul {
        justify-content: center;
    }
}

/* `xs` applies to extra-small devices (portrait phones, less than 333px) */
@media (max-width: 333.98px) {
    /* ============= BASE ============= */
    .menu-title-main {
        width: 160px;
        font-size: 3.7vw;
    }

    /* ============= NAVIGATION BAR ============= */
    .navbar-brand{
        display: none;
    }

    /* for Menu Thumbnail img */
    .thumbnail {
        height: 180px;
    }

    /* ============= HOME PAGE ============= */
    #carousel-nav {
        display: none;
    }

    .menu-pics-card {
        width: 250px;
        height: 160px;
    }

    .menu-pics-card a img {
        height: 135px;
    }

    .menu-pics-card .title {
        height: 25px;
        padding-bottom: 0.5rem;
    }
}