/* ============= FONT FAMILIES ============= */
/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');

/* Raleway */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600;700&display=swap');

/* Carter */
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

/* Yanone Kaffeesatz */
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@700&display=swap');

/* ============= BASE ============= */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    line-height: 1.5rem;
}

:root {
    /* ============= COLORS ============= */
    --bs-body-bg : 	#F5FFFA; /* Snow White */
    --primary-dark :  rgb(33,37,41); 
    --primary-light:  #e7e2df;
    --gold: #ffd700;
    --pure-white : #ffffff;

    /* text colors */
    --title-text-clr: #303030;
    --normal-text-clr: #505050;
    --light-text-clr : #707070;
    
    /* ============= LINEAR GRADIENTS ============= */
    --bg-img-darken : linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4));
    --scrollbar-anchor-hover: linear-gradient(111.3deg, #9c27b0 9.6%, #00bcd4 93.6%);
    --menu-sr : linear-gradient(to right, #434343 0%, black 100%);;

    /* ============= BORDER RADIUS ============= */
    --br-20 : 20px ;
    --br-2-5 : 2.5px;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;
    
    /*========== BACKGROUND POSITIONING ==========*/
    --bg-no-repeat : no-repeat;
    --bg-center-xy : center center;
    --bg-size-cover : cover;

    /*========== FONT SIZE ==========*/
    --big-font-size: 1.625rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.15rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /* header hight */
    --header-height : 4.625rem;
}

/* Responsive topology */
@media (max-width: 575.98px) { 
:root {
    /*========== FONT SIZE ==========*/
    --big-font-size: 1.125rem;
    --h1-font-size: 1rem;
    --h2-font-size: 1rem;
    --h3-font-size: 0.75rem;
    --normal-font-size: .8rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /* header hight */
    --header-height : 4.625rem;
}
}

html {scroll-behavior: smooth}

body {
    font-family: 'Poppins','Roboto',sans-serif;
    background-color: #ffffff;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    transition: 0.4s ease-in;
    color: var(--primary-font-clr);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}

img {width: 100%; height: auto;}

a ,a:hover {text-decoration: none; color: inherit;}

ul {list-style: none; margin: 0%; padding: 0%;}

.overflow-x-hidden {overflow-x: hidden}

.main-content {background-color : inherit; max-width: calc(100% - 80px);}

/* FOR SCROLLBAR */
::-webkit-scrollbar {width: 10px;}
::-webkit-scrollbar-track {background-color: transparent;}
::-webkit-scrollbar-thumb {border-radius: 100vh;background: var(--scrollbar-anchor-hover);}

/* tracking in expand forward (used for main menu page) */
.tracking-in-expand-fwd{-webkit-animation:tracking-in-expand-fwd .8s cubic-bezier(.215,.61,.355,1.000) 0.8s both;animation:tracking-in-expand-fwd .8s cubic-bezier(.215,.61,.355,1.000) 0.8s both}
@-webkit-keyframes tracking-in-expand-fwd{0%{letter-spacing:-.5em;-webkit-transform:translateZ(-700px);transform:translateZ(-700px);opacity:0}40%{opacity:.6}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}@keyframes tracking-in-expand-fwd{0%{letter-spacing:-.5em;-webkit-transform:translateZ(-700px);transform:translateZ(-700px);opacity:0}40%{opacity:.6}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}

/* Preloader */
#preloader {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 9999999;
    top: 0%;
    left: 0%;
    display: grid;
    place-items: center;
    transition: all 0.3s;
}

.preloader {background: #fffafc}

.menu-preloader {background: #ffffff}

#preloader > img {max-width: 450px; vertical-align: center;}

/* ============= NAVBAR NAV ============= */
.header {height: var(--header-height); border-bottom: 1px solid var(--pure-white);}

.nav-bar {height: inherit;}

.brand-logo {
    width: 60px;
    padding: 2px;
    border: 2px solid var(--pure-white);
}

.brand-name {
    font-size: var(--h2-font-size);
    font-weight: var(--font-medium);
    cursor: pointer;
}

.cart-icon, .nav-close, .nav-toggler, .cart-close , .cart-item-delete{
    font-size: 1.2rem;
    cursor: pointer;
}

.cart-bubble {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    top: -16px;
    right: -8px;
    font-size: 9px;
    height: 21px;
    min-width: 21px;
    line-height: 1;
    border-radius: 21px;
    letter-spacing: 0;
    background-color: red;
}
.cart-item-delete {color: rgba(0, 0, 0, 0.55);}

.cart-item-delete:hover {color: rgba(0, 0, 0, 0.75)}

.cart-body {
    left: -100%;
    width: 360px;
    z-index: 99999;
    transition: .6s cubic-bezier(.75,0,.175,1), visibility .6s cubic-bezier(.75,0,.175,1);;
    visibility: hidden;
}

.cart-header-container {
    z-index: 100;
    font-family: 'Raleway', sans-serif;
    background-color: red;
    min-height: 50px;
    box-shadow: 0 0px 10px 2px #878787b8;
}

.cart-offer {top: 100%; left: 0%; width: inherit; font-family: 'Poppins', sans-serif; font-size: var(--small-font-size); text-align: justify; height: 50px; max-height: 50px; z-index: inherit;}

.cart-item-container {margin-top: 50px; overflow-y: scroll;}

.cart-item-container::-webkit-scrollbar { width: 5px;}

.cart-item-container::-webkit-scrollbar-thumb {background: rgba(255, 0, 0, 0.6);border-radius: 0;}

.cart-item-container::-webkit-scrollbar-thumb:hover {background: red}

.cart-item-row {border-bottom: 1px solid black;}

.cart-item-title {font-size: var(--h2-font-size); font-weight: var(--font-medium);}

.cart-item-price {font-size: var(--normal-font-size);}

.cart-item-quantity {column-gap: 15px;}

.quantity-display {width: 20px; border: none; outline-color: #FF4742}

.minus-quantity > i , .plus-quantity > i { width: 20px; height: 20px; cursor: pointer; font-size: var(--small-font-size);}

.cart-total-container {
    min-height: 25vh;
    max-height: 25vh;
    z-index: 100;
    box-shadow: 0 0px 10px #878787b8;
}

.shipping-label , .total-label {font-size: 1rem; font-weight: var(--font-medium);}

.cart-show {
    left: 0;
    box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.4);
    visibility: visible;
}

.nav-list {
    flex-direction:row;
    column-gap: 1rem;
}

.active {color: var(--pure-white) !important;}

.nav-item {color: rgba(255, 255, 255, 0.55); position: relative;}

.nav-item:hover {color: rgba(255, 255, 255, 0.75)}

.nav-link::after {
    content:'';
    display: block;
    position: absolute;
    background-image: var(--scrollbar-anchor-hover);
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
}

.nav-item:hover .nav-link::after {
    transform: scaleX(1);
    transform-origin: left;
}

/* scroll up element */
.scroll-up {
    position: fixed;
    bottom: -30%;
    right: 1.3rem;
    background-image: var(--scrollbar-anchor-hover);
    padding: 0.3rem 0.6rem;
    border-radius: var(--br-2-5);
    opacity: 0.8;
    z-index: 1000;
    animation: scrollani 700ms infinite alternate ease-in;
    transition: all 0.4s;
}

.show-scroll {bottom: 3rem;}

.scroll-up i {color: var(--pure-white);}
.scroll-up:hover {opacity: 1;}

@keyframes scrollani {0% {transform: translateY(0.75rem);}100% {transform: none}}

/* Thumbnail img */
.thumbnail {
    position: relative;
    overflow: hidden;
    height: 270px;
}

.menu-thumbnail {
    color: var(--pure-white);
    font-size: 2.5rem;
    letter-spacing: 0.05em;
    font-family: 'Raleway';
    font-style: italic;
}

.thumbnail-txt {
    position: absolute;
    top: 50%;
    vertical-align: middle;
}

.thumbnail-inner-glass {
    transform: translate(15px, 15px);
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    vertical-align: center;
    border: 2px solid var(--gold);
    border-radius: inherit;
}

/* ============= HOME PAGE ============= */
/* CAROUSEL */
.carousel-control-prev, .carousel-control-next {font-size: 100px; width: 35px;}

.dark-filter {background-color: #00000073}

.menu-heading {
    font-size: var(--big-font-size);
    color: var(--gold);
    font-weight: var(--font-semi-bold);
    letter-spacing: 3px;
    word-spacing: 4px;
}

/* about section */
#pizza-inline { max-height: 40px; max-width: 500px;}

.about-container {background-color: #ffffff;}

.about-title {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 40px;
    line-height: 2rem;
    font-weight: 700;
    color: var(--title-text-clr);
}

.about-sub-title {
    font-family: 'Raleway', sans-serif;
    font-weight: var(--font-medium);
    font-size: 20px;
    line-height: 4rem;
    font-weight: 700;
    color: #dd3744;
}

.about-discription {
    line-height: 2rem;
    text-align: justify;
    font-size: var(--normal-font-size);
    color: var(--normal-text-clr);
    font-weight: var(--font-medium);
}

/* special items menu */
.special-item-container {width: 300px ; overflow: visible;}

.special-item-circle {
    width: 250px;
    height: 220px;
    background-color: #5151513c;
    border-radius: 50%;
    top: -0.5rem;
    left: -0.8rem;
    z-index: 1;
}

.special-item-img {
    /* position relative is set just to display bg circle */
    justify-self: center;
    vertical-align: center;
    transition: all 0.5s;
    z-index: 2;
}

.special-item-title {
    position: relative;
    color: var(--title-text-clr);
    margin-top: 0.625rem;
    font-weight: var(--font-semi-bold);
    font-size: var(--normal-font-size);
    padding: 0.3rem 0.3rem;
    background-color: hsla(51, 100%, 50%, 0.18);
    border-radius: var(--br-2-5);
}

.special-item-title::after , .special-item-title::after , .special-item-title::after {
    content:"";
    display: block;
    position: absolute;
    height: 0.2rem;
    bottom: 0%;
    left: 0%;
    background-color: var(--gold);
    width: 0%;
    transition: width 700ms ease-in-out;
}

.special-item-price {
    padding-left: 0.3rem;
    font-weight: var(--font-medium);
    color: var(--normal-text-clr);
}

.special-item-price span {width: 50px}

.special-item-container:hover .special-item-img {transform: translateY(-.5rem)}

.special-item-container:hover .special-item-title::after {width: 100%;}

.special-item-container:hover .special-item-price > span{ 
    /* for shaky text */
    -webkit-animation:shake-bottom .8s cubic-bezier(.455,.03,.515,.955) infinite both;animation:shake-bottom .8s cubic-bezier(.455,.03,.515,.955) infinite both;
}

/* for shaky text */
@-webkit-keyframes shake-bottom{0%,100%{-webkit-transform:rotate(0deg);transform:rotate(0deg);-webkit-transform-origin:50% 100%;transform-origin:50% 100%}10%{-webkit-transform:rotate(2deg);transform:rotate(2deg)}20%,40%,60%{-webkit-transform:rotate(-4deg);transform:rotate(-4deg)}30%,50%,70%{-webkit-transform:rotate(4deg);transform:rotate(4deg)}80%{-webkit-transform:rotate(-2deg);transform:rotate(-2deg)}90%{-webkit-transform:rotate(2deg);transform:rotate(2deg)}}@keyframes shake-bottom{0%,100%{-webkit-transform:rotate(0deg);transform:rotate(0deg);-webkit-transform-origin:50% 100%;transform-origin:50% 100%}10%{-webkit-transform:rotate(2deg);transform:rotate(2deg)}20%,40%,60%{-webkit-transform:rotate(-4deg);transform:rotate(-4deg)}30%,50%,70%{-webkit-transform:rotate(4deg);transform:rotate(4deg)}80%{-webkit-transform:rotate(-2deg);transform:rotate(-2deg)}90%{-webkit-transform:rotate(2deg);transform:rotate(2deg)}}

.thumbnail-inner-glass .thumbnail-txt {
    top: 35%;
    color: var(--pure-white);
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 1.875rem;
    letter-spacing: 0.2rem;
    word-spacing: 0.313rem;
}

.view-more-btn {
    padding: 0.3rem 1.3rem;
    border: 2px solid var(--gold);
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    transition: all 0.3s;
    z-index: 1;
    color: var(--pure-white);
    font-weight: var(--font-medium);
}

.view-more-btn::before {
    content: '';
    width: 0;
    height: 400%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: var(--pure-white);
    transition: .5s ease;
    display: block;
    z-index: -1;
}
    
.view-more-btn:hover {color: var(--title-text-clr)}

.view-more-btn:hover::before {width: 200%}

#reviews-heading {color: #ffffff; text-shadow: none}

/* ============= MENU ITEM CARDS ============= */

/* home menu cards */
.home-card-1 .card-img-hover {background-image: url("/images/home-page/menu/menu_menu.jpg")}

.home-card-2 .card-img-hover {background-image: url("/images/home-page/menu/menu-special.jpg")}

.home-card-3 .card-img-hover {background-image: url("/images/home-page/menu/menu-snacks.jpg")}

/* main menu cards */
.menu-card-1 .card-img-hover {background-image: url("/images/menu/menu-appetizers.jpg")}

.menu-card-2 .card-img-hover {background-image: url("/images/menu/menu-main-menu.jpg")}

.menu-card-3 .card-img-hover {background-image: url("/images/menu/menu-seafood.jpg")}

.menu-card-4 .card-img-hover {background-image: url("/images/menu/menu-pizza.jpg")}

.menu-card-5 .card-img-hover {background-image: url("/images/menu/menu-drinks.jpg")}

.menu-card-6 .card-img-hover {background-image: url("/images/menu/menu-dessert.jpg")}

.place-holder {
    visibility: hidden;
    width: 100%;
    height: 235px;
}

.card-img-hover {
    transition: 0.2s all ease-out;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    height: 235px;
    top: 0%;
}

.menu-card {
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
    background-image: var(--menu-sr);
    width: 350px;
    position: relative;
    border-radius: var(--br-20);
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.menu-card:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transform: scale(1.1, 1.1);
}

.card-info {
    background-image: var(--menu-sr);
    padding: 10px 16px 16px 16px;
    color: #fffafc;
    letter-spacing: 2px;
    word-spacing: 3px;
    font-size: var(--h2-font-size);
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0, 1);
}

.menu-card:hover .card-img-hover {height: 100%;}

.menu-card:hover .card-info {
    background: transparent;
    position: relative;
    text-shadow: 2px 1px 4px rgb(0, 0, 0);
    border: none;
}

/* ============= MENU ITEMS PAGE ============= */
.page-inner-nav {
    column-gap: 0.5rem;
    color: var(--title-text-clr);
    transition: all 0.3s;
    font-size: var(--normal-font-size)
}

.inner-nav-active , .inner-nav-active:hover{color: #f76e6e !important}

.page-inner-nav > div > a:hover {color:  rgb(117, 117, 117)}

.menu-item-container {
    width: calc(100% - 20px);
    background: #ffffff;
    border-radius: var(--br-20);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.menu-item-img {
    border-radius: var(--br-20);
    max-width: 150px;
}

.menu-item-title {
    color: #f76e6e;
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
}

.menu-item-price {
    font-size: var(--h3-font-size);
    color: var(--title-text-clr);
    font-weight: var(--font-medium)
}

.menu-item-sub {
    font-size: var(--small-font-size);
    color: var(--normal-text-clr);
}

/* Order Btn */
.menu-order-btn, .add-to-cart {
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: "Raleway",sans-serif;
    font-size: var(--normal-font-size);
    font-weight: 800;
    min-height: 35px;
    outline: 0;
    padding: 2px 9px;
    text-rendering: geometricprecision;
    text-transform: none;
    -webkit-user-select: none;
    user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    transition: all .3s;
}

.menu-order-btn:hover, .add-to-cart:hover, .menu-order-btn:active, .add-to-cart:hover {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
}

.menu-order-btn:active, .add-to-cart:active {opacity: .5;}

/* ============= CONTACT PAGE ============= */
#contact-map > iframe{
    border: none;
    width: 100%;
    height: 100%;
}

.location-title {
    color: var(--pure-white);
    font-size: var(--big-font-size);
    font-weight: var(--font-medium);
    font-family: 'Raleway', sans-serif;
    letter-spacing: 3px;
    border-bottom: 2px solid var(--gold);
}

.location-description, .location-description a  {
    color: #ffffff;
    font-size: var(--h3-font-size);
}

#note span {color: var(--gold);}

#note {
    font-size: var(--small-font-size);
    text-align: justify;
    color: var(--pure-white)
}

/* ============= FOOTER ============= */
.panel-footer {
    background-color:var(--primary-dark)!important;
    color: var(--gold);
    padding-top: 2.188rem;
    word-spacing: 0.125rem;
}

.footer {line-height: 1.5rem}

.footer-title {
    color: #d1d1d1;
    font-size: var(--h2-font-size);
}

section span.footer-sub {font-size: var(--small-font-size) !important;}

.row section hr{display: none}

#delivery {
    font-size: 0.7rem;
    color: #bababa;
}

#footer-cards-ul {
    column-gap: 5px;
    margin-top: 0.5rem;
}

.footer-cards-img {width: 40px}

#phone-num a {color: inherit}

#wa-num a {
    width: 200px;
    font-size: var(--h2-font-size);
    color: var(--gold);
}

#footer-social-ul {
    font-size: var(--h2-font-size);
    column-gap: 30px;
}

.footer-social-li {transition: all .3s;}

#footer-social-ul li a {color: var(--gold)}

#footer-social-ul li:hover {transform: translateY(-0.5rem)}

.footer a:hover , #phone-num:hover , #wa-num a:hover {color:var(--pure-white) !important}

#copyright {
    padding: 0.313rem 0;
    background-color: var(--primary-dark);
    color: var(--pure-white);
    border-top: 1px solid var(--pure-white);
    font-size: var(--smaller-font-size);
}

/* ============= MEDIA QUERIES ============= */

/* `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    /* ============= HOME PAGE ============= */
    .thumbnail-inner-glass .thumbnail-txt {
        top: 35%;
        font-size: 1.563rem;
    }
}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    /* ============= BASE ============= */
    .main-content {max-width: calc(100% - 40px)}

    /* ============= HOME PAGE ============= */
    .special-item-container {width: 240px}

    .special-item-circle {
        width: 200px;
        height: 178px;
        left: -.2rem;
    }

    .thumbnail-inner-glass .thumbnail-txt {
        top: 35%;
        font-size: 1.25rem;
    }
}

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
     /* ============= NAVIGATION BAR ============= */
    :root {--header-height:3.75rem;}
    .header {height: var(--header-height)}
    .nav-menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 360px;
        height: 100%;
        z-index: 99999;
        align-items: center;
        justify-content: center;
        border-bottom-left-radius: var(--br-20);
        border-top-left-radius: var(--br-20);
        border-left: 1px solid var(--pure-white);
        transition: right 0.4s ease-in-out;
    }

    .active::after {
        content:'';
        position: absolute;
        display: block;
        bottom: -2px;
        background-color: var(--gold);
        width: 100%;
        height: 2px;
        transform: scaleX(0.6);
    }
    
    .brand-logo {display: none;}

    .nav-list {
        font-size: 1rem;
        color: var(--pure-white);
        flex-direction: column;
        row-gap: 20px;
        font-weight: var(--font-medium);
    }

    .nav-link::after{display: none;}

    .nav-close {
        top: 1.5rem;
        right: 1.5rem;
    }

    .show-menu {
        right: 0;
        box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.4);
    }

    /* ============= HOME PAGE ============= */
    .view-more-btn {
        padding: 0.2rem 1.3rem;
        font-size: 0.813rem;
    }
    
    .thumbnail-inner-glass .thumbnail-txt {
        top: 35%;
        font-size: 1rem;
    }

    /* for menu thumbnail image */
    .thumbnail { height: 220px}

    .menu-thumbnail {font-size: 2.5rem}

    /* ============= CONTACT ============= */
    #contact-map  {height: 500px}

    /* ============= FOOTER ============= */
    .row section hr{
        display: block;
        height: 2px;
        background-color: var(--pure-white);
    }
}

/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    /* ============= BASE ============= */
    .main-content  {max-width: 100%}
    /* ============= NAVIGATION BAR ============= */
    .cart-body,  .nav-menu{width: 90%;}

    /* for Menu Thumbnail img */
    .menu-thumbnail {font-size: 1.8rem}

    .thumbnail {height: 180px}

    /* carousel */
    .carousel-control-prev, .carousel-control-next {font-size: 80px; font-weight: 300;}
    .carousel-img {height: 50vw;}
    /* ============= HOME PAGE ============= */
    .dark-filter {background-color: #0000004d}

    /* about section */
    .about-title {
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-size: 35px;
        line-height: 2.5rem;
    }

    .about-sub-title {
        font-size: 15px;
        line-height: 2.2rem;
    }
    .thumbnail-inner-glass {
        width: 100%;
        height: 100%;
        border: none;
        transform: none;
    }
    
    .thumbnail-inner-glass .thumbnail-txt {
        top: 30%;
        padding-left: 3px;
        padding-right: 3px;
        font-size: 0.8rem;
        letter-spacing: 0.1rem;
        word-spacing: 0.2rem;
    }

    .view-more-btn {
        padding: .15rem .9rem;
        border: 1px solid var(--gold);
        font-weight: normal;
        font-size: 0.75rem;
    }

    /* ============= MENU ITEM CARDS ============= */
    .menu-card {width: 270px}
}

/* `xs` applies to extra-small devices (portrait phones, less than 333px) */
@media (max-width: 333.98px) {
    /* ============= NAVIGATION BAR ============= */
    /* for Menu Thumbnail img */
    .thumbnail {height: 180px}
}