#menu-thumbnail {
    background-image: var(--bg-img-darken), url(../images/menu/menu-thumbnail.jpg);
    background-repeat: var(--bg-no-repeat);
    background-position: var(--bg-center-xy);
    background-size: var(--bg-size-cover);
    font-weight: 300;
    text-shadow: 2px 2px 3px black;
    font-family: 'Carter One', cursive;
}

#menu-snacks {
    background-image: var(--bg-img-darken), url(../images/home/menucards/menu-snacks.jpg);
    background-repeat: var(--bg-no-repeat);
    background-position: var(--bg-center-xy);
    background-size: var(--bg-size-cover);
}

#menu-appetizer {
    background-image: var(--bg-img-darken), url(../images/menu/menu-appetizers.jpg);
    background-repeat: var(--bg-no-repeat);
    background-position: var(--bg-center-xy);
    background-size: var(--bg-size-cover);
}
#menu-main-menu {
    background-image: var(--bg-img-darken), url(../images/menu/menu-main-menu.jpg);
    background-repeat: var(--bg-no-repeat);
    background-position: var(--bg-center-xy);
    background-size: var(--bg-size-cover);
}
#menu-seafood {
    background-image: var(--bg-img-darken), url(../images/menu/menu-seafood.jpg);
    background-repeat: var(--bg-no-repeat);
    background-position: var(--bg-center-xy);
    background-size: var(--bg-size-cover);
}
#menu-pizza {
    background-image: var(--bg-img-darken), url(../images/menu/menu-pizza.jpg);
    background-repeat: var(--bg-no-repeat);
    background-position: var(--bg-center-xy);
    background-size: var(--bg-size-cover);
}
#menu-dessert {
    background: var(--bg-img-darken), url(../images/menu/menu-dessert.jpg);
    background-repeat: var(--bg-no-repeat);
    background-position: var(--bg-center-xy);
    background-size: var(--bg-size-cover);
}

#menu-burger {
    background-image: var(--bg-img-darken), url(../images/home/menucards/menu-burger.jpg);
    background-repeat: var(--bg-no-repeat);
    background-position: center 75%;
    background-size: var(--bg-size-cover);
}

#menu-cocktail {
    background-image: var(--bg-img-darken), url(../images/menu/menu-cocktail.jpg);
    background-repeat: var(--bg-no-repeat);
    background-position: center 25%;
    background-size: var(--bg-size-cover);
}